openapi: 3.0.3
info:
  title: Nimons360 API
  version: 1.0.0
  description: REST API contract for Nimons360 Android application
servers:
  - url: https://mad.labpro.hmif.dev
    description: production server

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
        password:
          type: string

    UserData:
      type: object
      properties:
        id:
          type: integer
        nim:
          type: string
        email:
          type: string
        fullName:
          type: string

    LoginData:
      type: object
      properties:
        token:
          type: string
        expiresAt:
          type: string
        user:
          $ref: '#/components/schemas/UserData'

    UpdateProfileRequest:
      type: object
      required: [fullName]
      properties:
        fullName:
          type: string

    UserProfile:
      allOf:
        - $ref: '#/components/schemas/UserData'
        - type: object
          properties:
            createdAt:
              type: string
            updatedAt:
              type: string

    FamilyBasic:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        iconUrl:
          type: string

    MemberCensored:
      type: object
      properties:
        fullName:
          type: string
        email:
          type: string

    MemberDetail:
      type: object
      properties:
        id:
          type: integer
        fullName:
          type: string
        email:
          type: string
        joinedAt:
          type: string

    FamilyDiscover:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        iconUrl:
          type: string
        createdAt:
          type: string
        members:
          type: array
          items:
            $ref: '#/components/schemas/MemberCensored'

    MyFamilyDetail:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        iconUrl:
          type: string
        familyCode:
          type: string
        createdAt:
          type: string
        updatedAt:
          type: string
        members:
          type: array
          items:
            $ref: '#/components/schemas/MemberDetail'

    FamilyDetailResponse:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        iconUrl:
          type: string
        isMember:
          type: boolean
        familyCode:
          type: string
        createdAt:
          type: string
        updatedAt:
          type: string
        members:
          type: array
          items:
            anyOf:
              - $ref: '#/components/schemas/MemberCensored'
              - $ref: '#/components/schemas/MemberDetail'

    CreateFamilyRequest:
      type: object
      required: [name, iconUrl]
      properties:
        name:
          type: string
        iconUrl:
          type: string

    JoinFamilyRequest:
      type: object
      required: [familyId, familyCode]
      properties:
        familyId:
          type: integer
        familyCode:
          type: string

    LeaveFamilyRequest:
      type: object
      required: [familyId]
      properties:
        familyId:
          type: integer

    JoinResponse:
      type: object
      properties:
        joined:
          type: boolean

    LeaveResponse:
      type: object
      properties:
        left:
          type: boolean

    ErrorResponse:
      type: object
      properties:
        message:
          type: string

paths:
  /api/login:
    post:
      summary: Login user
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/LoginData'

  /api/me:
    get:
      summary: Get current user profile
      tags: [User]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: user profile
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/UserProfile'

    patch:
      summary: Update current user profile
      tags: [User]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProfileRequest'
      responses:
        '200':
          description: profile updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/UserProfile'

  /api/families:
    get:
      summary: Get all families
      tags: [Family]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: list of all families
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/FamilyBasic'
    post:
      summary: Create a new family
      tags: [Family]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFamilyRequest'
      responses:
        '200':
          description: family created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/FamilyDetailResponse'

  /api/me/families:
    get:
      summary: Get all families joined by current user
      tags: [Family]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: list of joined families
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/MyFamilyDetail'

  /api/families/discover:
    get:
      summary: Get 5 random families
      tags: [Family]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 5 random families
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/FamilyDiscover'

  /api/families/{familyId}:
    get:
      summary: Get family detail by id
      tags: [Family]
      security:
        - bearerAuth: []
      parameters:
        - name: familyId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: family detail
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/FamilyDetailResponse'

  /api/families/join:
    post:
      summary: Join a family
      tags: [Family]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JoinFamilyRequest'
      responses:
        '200':
          description: successfully joined
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/JoinResponse'

  /api/families/leave:
    post:
      summary: Leave a family
      tags: [Family]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LeaveFamilyRequest'
      responses:
        '200':
          description: successfully left
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/LeaveResponse'
