openapi: 3.0.3
info:
  title: Nimons360 API
  version: 1.0.0
  description: REST API contract for Nimons360 Android application
servers:
  - url: https://mad.labpro.hmif.dev
    description: production server

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    BaseResponse:
      type: object
      properties:
        data:
          type: object

    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
        password:
          type: string

    UserData:
      type: object
      properties:
        id:
          type: integer
        nim:
          type: string
        email:
          type: string
          format: email
        fullName:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    LoginData:
      type: object
      properties:
        token:
          type: string
        expiresAt:
          type: string
          format: date-time
        user:
          $ref: '#/components/schemas/UserData'

    UpdateProfileRequest:
      type: object
      required: [fullName]
      properties:
        fullName:
          type: string

    FamilyBasic:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        iconUrl:
          type: string
          format: uri

    MemberCensored:
      type: object
      properties:
        fullName:
          type: string
          description: censored name e.g. D********* T*********
        email:
          type: string
          description: censored email e.g. ********@std.stei.itb.ac.id

    MemberDetail:
      type: object
      properties:
        id:
          type: integer
        fullName:
          type: string
        email:
          type: string
          format: email
        joinedAt:
          type: string
          format: date-time

    FamilyDiscover:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        iconUrl:
          type: string
          format: uri
        createdAt:
          type: string
          format: date-time
        members:
          type: array
          items:
            $ref: '#/components/schemas/MemberCensored'

    FamilyDetailNonMember:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        iconUrl:
          type: string
          format: uri
        isMember:
          type: boolean
          example: false
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        members:
          type: array
          items:
            $ref: '#/components/schemas/MemberCensored'

    FamilyDetailMember:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        iconUrl:
          type: string
          format: uri
        isMember:
          type: boolean
          example: true
        familyCode:
          type: string
          minLength: 6
          maxLength: 6
          example: ABC123
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        members:
          type: array
          items:
            $ref: '#/components/schemas/MemberDetail'

    MyFamilyDetail:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        iconUrl:
          type: string
          format: uri
        familyCode:
          type: string
          minLength: 6
          maxLength: 6
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        members:
          type: array
          items:
            $ref: '#/components/schemas/MemberDetail'

    CreateFamilyRequest:
      type: object
      required: [name, iconUrl]
      properties:
        name:
          type: string
          maxLength: 40
        iconUrl:
          type: string
          format: uri
          enum:
            - https://mad.labpro.hmif.dev/assets/family_icon_1.png
            - https://mad.labpro.hmif.dev/assets/family_icon_2.png
            - https://mad.labpro.hmif.dev/assets/family_icon_3.png
            - https://mad.labpro.hmif.dev/assets/family_icon_4.png
            - https://mad.labpro.hmif.dev/assets/family_icon_5.png
            - https://mad.labpro.hmif.dev/assets/family_icon_6.png
            - https://mad.labpro.hmif.dev/assets/family_icon_7.png
            - https://mad.labpro.hmif.dev/assets/family_icon_8.png

    JoinFamilyRequest:
      type: object
      required: [familyId, familyCode]
      properties:
        familyId:
          type: integer
        familyCode:
          type: string
          minLength: 6
          maxLength: 6

    LeaveFamilyRequest:
      type: object
      required: [familyId]
      properties:
        familyId:
          type: integer

    JoinResponse:
      type: object
      properties:
        joined:
          type: boolean

    LeaveResponse:
      type: object
      properties:
        left:
          type: boolean

    ErrorResponse:
      type: object
      properties:
        message:
          type: string

paths:
  /api/login:
    post:
      summary: Login user
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/LoginData'
        '401':
          description: invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/me:
    get:
      summary: Get current user profile
      tags: [User]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: user profile
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/UserData'
        '409':
          description: token expired or unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    patch:
      summary: Update current user profile
      tags: [User]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProfileRequest'
      responses:
        '200':
          description: profile updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/UserData'
        '409':
          description: token expired or unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/me/families:
    get:
      summary: Get all families joined by current user
      tags: [Family]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: list of joined families with full member details
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/MyFamilyDetail'
        '409':
          description: token expired or unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/families:
    get:
      summary: Get all families
      tags: [Family]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: list of all families
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/FamilyBasic'
        '409':
          description: token expired or unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    post:
      summary: Create a new family
      tags: [Family]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFamilyRequest'
      responses:
        '200':
          description: family created, creator auto-joined
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/FamilyDetailMember'
        '409':
          description: token expired or unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/families/discover:
    get:
      summary: Get 5 random families not yet joined by current user
      tags: [Family]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: 5 random families with censored member info
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    maxItems: 5
                    items:
                      $ref: '#/components/schemas/FamilyDiscover'
        '409':
          description: token expired or unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/families/join:
    post:
      summary: Join a family using family code
      tags: [Family]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JoinFamilyRequest'
      responses:
        '200':
          description: successfully joined
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/JoinResponse'
        '409':
          description: token expired or unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/families/leave:
    post:
      summary: Leave a family
      tags: [Family]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LeaveFamilyRequest'
      responses:
        '200':
          description: successfully left
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/LeaveResponse'
        '409':
          description: token expired or unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/families/{familyId}:
    get:
      summary: Get family detail by id
      tags: [Family]
      security:
        - bearerAuth: []
      parameters:
        - name: familyId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: family detail, response varies based on membership
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    oneOf:
                      - $ref: '#/components/schemas/FamilyDetailMember'
                      - $ref: '#/components/schemas/FamilyDetailNonMember'
                    discriminator:
                      propertyName: isMember
        '404':
          description: family not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: token expired or unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'